footer {
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    /* font-weight: bold; */
    justify-content: center;
    font-size: calc(3px + 2vmin);
    padding: 10px;
    color: #ccc;
    background-color: rgb(97, 4, 72);
    bottom: 0;
    width: 100%;
    /* height: 2rem; */
}